FIEK-TCP-Klienti/FIEK-TCP-Klienti/bin
FIEK-TCP-Klienti/FIEK-TCP-Klienti/obj
FIEK-TCP-Serveri/FIEK-TCP-Serveri/bin
FIEK-TCP-Serveri/FIEK-TCP-Serveri/obj
FIEK-UDP-Klienti/FIEK-UDP-Klienti/bin
FIEK-UDP-Klienti/FIEK-UDP-Klienti/obj
FIEK-UDP-Serveri/FIEK-UDP-Serveri/bin
FIEK-UDP-Serveri/FIEK-UDP-Serveri/obj